<table class="table table-striped table-bordered">
    <tr>
        <td align="center">Name</td>
        <td align="center">Date</td>
        <td align="center">Local</td>
        <td align="center">gDrive</td>
    </tr>
    <tr ng-repeat="snippet in snippets">
        <td align="left"> <a href="#" ng-click="openSnippet(snippet.name)">{{ snippet.name }}</a></td>
        <td align="right"><span class="pull-right"><p class="text-muted">{{ snippet.createdDate | date:"MM/dd/yyyy 'at' h:mma" }} </td>
        <td align="right"><input type="checkbox" disabled="disabled" ng-model="snippet.avaliableLocal"/></td>
        <td align="right"><input type="checkbox" disabled="disabled" ng-model="snippet.avaliableOnDrive"/></td>
    </tr>
</table>